#game-screen {
    border: 2px solid rgb(253, 255, 255);
    margin-top: 0px;
    margin-left: 50px;
    



}
h1 {
    
    margin-top: 0px;
    text-align: left;
    margin-left: 8%;
    color: rgb(255, 255, 255);
    font-family: 'Comic Sans MS';
    overflow: hidden;
    font-size: 50px;
}
body {

    
    background: url("../assets/img/background-image.png")

}
#start-button {
    margin: 0;
    position: absolute;
    top: 25%;
    left: 8%;
    width: 120px;
    height: 60px;
    font-size: 18px;
    font-family: 'Comic Sans MS';
    background-color: rgb(219, 193, 243);
    
}

#hits-and-score {
    border: 2px solid white;
}

